MINIO_ROOT_USER=change-me
MINIO_ROOT_PASSWORD=change-me-to-a-long-random-string
MINIO_SERVER_URL=https://{{ storage_domain }}
MINIO_API_CORS_ALLOW_ORIGIN=https://{{ intern_domain }},https://{{ www_domain }}
