{
	email vindobona2.webaccess@gmail.com
	# Disables HTTP/3 (QUIC) and uses only TCP-based protocols
	servers {
		protocols h1 h2
	}
}

{{ intern_domain }} {
	basic_auth /logging* {
		{$LOGGING_USER} {$LOGGING_PASSWORD_HASH}
	}
	handle /logging/dozzle* {
		reverse_proxy 127.0.0.1:8081
	}
	reverse_proxy 127.0.0.1:21001 {
		header_down -Server
	}
}

{{ api_domain }} {
	reverse_proxy 127.0.0.1:21000 {
		header_down -Server
	}
}

{{ www_domain }} {
	reverse_proxy 127.0.0.1:21002 {
		header_down -Server
	}
}

{% if app_environment != 'production' %}
{{ storage_domain }} {
	reverse_proxy 127.0.0.1:9000 {
		header_down -Server
	}
}
{% endif %}
