[Unit]
Description=VB MinIO ({{ app_environment }})

[Container]
ContainerName=vb-minio
Pod=vb-api.pod
Image=quay.io/minio/minio:RELEASE.2025-09-07T16-13-09Z
AutoUpdate=registry
Exec=server /data --console-address ":9001"
EnvironmentFile=%h/.env/vb-minio.env
Volume=%h/data/vb/{{ app_environment }}/minio:/data:Z

HealthCmd=curl -sf http://localhost:9000/minio/health/live || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=15s

[Service]
Restart=always
RestartSec=5
